*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    background-color: #b3d0f1;
}
.photo{
    height: 150px;
    width:150px;
    border:2px double black;
    border-radius: 50px;


}
.container{
    margin: 50px auto;
    width: 400px;
    background-color: #fff;
    padding: 25px 60px;
    border-radius: 40px;
    box-shadow: 20px 20px 10px;
}

.btn{
    margin-top: 8px;
    padding: 10px 20px;
    background-color:cornflowerblue;
    color: white;
    border: double;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}
.btn:hover{
    background-color: aqua;
}
